@{
  Layout = "_Layout";
}
@using TreatFlavors.ViewModels
@model RegisterViewModel

<h2>Register a new user</h2>
<hr />
<div class="container">
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
  @Html.LabelFor(user => user.Email)
  <br>
  @Html.TextBoxFor(user=> user.Email, new{@Required = true})
  <br><br>
  @Html.LabelFor(user=> user.Password)
  <br>
  @Html.PasswordFor(user=> user.Password, new{@Required = true})
  <br><br>
  @Html.LabelFor(user=> user.ConfirmPassword)
  <br>
  @Html.PasswordFor(user=> user.ConfirmPassword, new{@Required = true})
  <br><br>
  <p><input type="submit" value="Submit" class="btn btn-success btn-sm" /></p>
}
</div>