@{
  Layout = "_Layout";
}
@model TreatFlavors.Models.Treat

<br>
<h2>Treat Details:</h2>
<hr />
<h4>@Html.DisplayName("Treat"): @Html.DisplayFor(model => model.TreatName)<h4>

@if (@Model.Flavors.Count == 0)
{
  <p>This treat is not associated with any flavors.</p>
}
else
{
  <h5>Flavors with this treat:</h5>
  @foreach (var join in Model.Flavors)
  {
    <div class="row">
      <div class="col-md-3">
        <li class="joinLine" style="margin-left: 10px;">- &nbsp;@join.Flavor.FlavorName</li>
      </div>
      <div class="col-md-3">
        @using (Html.BeginForm("DeleteFlavor", "Treats"))
        {
          @Html.Hidden("treatId", @join.TreatId)
          @Html.Hidden("joinId", @join.FlavorTreatId)
          <li class="joinLine"><input type="submit" value="Remove" class="btn btn-warning btn-xs" /></li>
        }
      </div>
    </div>
  }
}
<br>
@if (User.Identity.Name == "admin@pierre.local")
{
  <p>@Html.ActionLink("Add a Flavor", "AddFlavor", "Treats", new { id = Model.TreatId } , new {@class="btn btn-success btn-sm"})</p>
  <p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId }, new {@class="btn btn-success btn-sm"})</p>
  <p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId }, new {@class="btn btn-danger btn-sm"})</p>
}
<p>@Html.ActionLink("See All Treats", "Index", null, null, new {@class="btn btn-info btn-sm"})</p>
