@{
  Layout = "_Layout";
}
@using TreatFlavors.Models;
@model IEnumerable<TreatFlavors.Models.Flavor>

<br>

<h2>Flavors</h2>

@if (@Model.Any())
{
  <ul>
    @foreach (Flavor flavor in Model)
    {
      <li>@Html.ActionLink($"{flavor.FlavorName}", "Details", new { id = flavor.FlavorId }, new {@class="linkHelper"})</li>
    }
  </ul>
}
else
{
  <h3>No flavors have been added yet!</h3>
}

<br>
@if (User.Identity.Name == "admin@pierre.local")
{
  <p>@Html.ActionLink("Add new Flavor", "Create", null, null, new {@class="btn btn-success btn-sm"})</p>
}
<p>@Html.ActionLink("Search a Flavor", "Search", null, null, new {@class="btn btn-info btn-sm"})</p>
<p>@Html.ActionLink("Homepage", "Index", "Home", null, new {@class="btn btn-info btn-sm"})</p>